---
import "../styles/global.css";
const base = import.meta.env.BASE_URL;
const deductoryBase = `${base}deductory/`;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Kurumbu Games</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=IM+Fell+English:ital@0;1&family=JetBrains+Mono:wght@400;700&family=PT+Serif:wght@400;700&display=swap"
			rel="stylesheet"
		/>
		
	</head>
	<body>
		<header>
			<nav>
				<a href={deductoryBase}>Home</a>
				<a href={`${deductoryBase}archive`}>Archive</a>
			</nav>
		</header>
		<main>
			<slot />
		</main>
		<footer>
			<p>&copy; 2026 <a href={`${base}`}>Kurumbu Games</a></p>
		</footer>
	</body>
</html>
